<!-- Team Section -->
    <section id="chiffres" class="bg-light-gray">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Des faits, des chiffres</h2>
                            <h3 class="section-subheading text-muted">pour mieux comprendre la situation d'Ingwiller avant cette élection.</h3>
                        </div>
                        <div class="stat">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="milestone-counter">
                                    <i class="fas fa-users fa-4x"></i>
                                    <span class="stat-count highlight">4065</span>
                                    <div class="milestone-details">Habitants en 2016</div>
                                </div>
                           </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="milestone-counter">
                                   
                                    <i class="fas fa-chalkboard-teacher fa-4x"></i>
                                    <span class="stat-count highlight">2125250</span>
                                    <div class="milestone-details">Euros pour une mairie</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="milestone-counter">
                                    <i class="fas fa-thumbs-up fa-4x"></i>
                                    <span class="stat-count highlight">96</span>
                                    <div class="milestone-details">Sur 101 collèges du Bas-Rhin</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="milestone-counter">
                                    <i class="fas fa-archive fa-4x"></i>
                                    <span class="stat-count highlight">777</span>
                                    <div class="milestone-details">Scolarisés en 2015</div>
                                </div>
                            </div>
                            
                        </div><!-- stat -->      
                </div>
                <div class="row">
                  
                    <div class="stat">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="milestone-counter">
                                <i class="fas fa-users fa-4x"></i>
                                <span class="stat-count highlight">4179</span>
                                <div class="milestone-details">Habitants en 2011</div>
                            </div>
                       </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="milestone-counter">
                               
                                <i class="fas fa-chalkboard-teacher fa-4x"></i>
                                <span class="stat-count highlight">227</span>
                                <div class="milestone-details">Chômeurs en 2015</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="milestone-counter">
                                <i class="fas fa-thumbs-up fa-4x"></i>
                                <span class="stat-count highlight">2062</span>
                                <div class="milestone-details">€ - Revenu moyen par foyer</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="milestone-counter">
                                <i class="fas fa-archive fa-4x"></i>
                                <span class="stat-count highlight">1880</span>
                                <div class="milestone-details">Logements en 2015</div>
                            </div>
                        </div>
                        
                    </div><!-- stat -->      
            </div>
        
           
        </div>
    </section>