<!-- Services Section -->
<section id="services" class="bg-light-brown">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nos défis</h2>
            
                <h3 class="section-subheading text-muted">Nos actions et nos projets pour la commune d'Ingwiller</h3>
            </div>
               
            <div class="col-lg-12" id="editorial">
               <p> Je souhaite m'engager avec vous pour que les 6 prochaines années soient inscrites dans une démarche durable, démocratique et que toutes les décisions soient prises dans l'intérêt général.</p>

               <p>Ces dernières années des avancées ont été faites dans plusieurs domaines comme les services à la petite enfance ou aux seniors, la programmation culturelle... Ces avancées doivent être poursuivies et amplifiées.</p>

               <p>Mais depuis plus de cinq ans, j'ai aussi assité à ce que je ne souhaite plus pour ma commune : des dépenses excessives au service du paraître, des décisions partisanes, la critique régulière de l'intercommunalité, l'abandon de certains secteurs du service public communal et surtout l'absence de conscience face à l'urgence écologique.</p>
            </div>
            </div>
      
        <div class="row text-center">

            <div class="col-md-4">
                <img src="img/services/arboriculture.jpg" class="img-responsive img-circle" alt="Relever les défis de notre temps">
                <h4 class="service-heading">Relever les défis de notre temps</h4>
                <p class="text-muted">
                    La mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik avec Richard Schirmeck, le mari de Chulia Roberstau.
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/distillation.jpg" class="img-responsive img-circle" alt="Maîtriser les dépenses">
                <h4 class="service-heading">Maîtriser les dépenses</h4>
                <p class="text-muted">
                    Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis au réchime, je ne mange plus que des Grumbeere light et che fais de la chym.
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/apiculture.jpg" class="img-responsive img-circle" alt="Respecter l'environnement">
                <h4 class="service-heading">Respecter l'environnement</h4>
                <p class="text-muted">
                    T'inquiète, ch'ai ramené du schpeck, du chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt ! 
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/services/formation.jpg" class="img-responsive img-circle" alt="Défendre les services public">
                <h4 class="service-heading">Défendre les services publics</h4>
                <p class="text-muted">
                    Wie geht's les samis ? Hans apporte moi une Wurschtsalad avec un picon bitte, s'il te plaît.   
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/ecole.jpg" class="img-responsive img-circle" alt="Promouvoir la démocratie">
                <h4 class="service-heading">Promouvoir la démocratie</h4>
                <p class="text-muted">
                    Ch'ai lu dans les DNA que le Racing a encore perdu contre Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et une flammekueche.
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/animations.jpg" class="img-responsive img-circle" alt="S'ouvrir à l'intercommunalité">
                <h4 class="service-heading">S'ouvrir à l'intercommunalité</h4>
                <p class="text-muted">
                    Che dois partir à la Coopé de Truchtersheim acheter des mänele et des rossbolla pour les gamins. Hopla tchao bissame !   
                </p>
            </div>
        </div>
    </div>
</section>
