<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Thèmes de campagne</h2>
                <h3 class="section-subheading text-muted">Nos actions et nos projets pour la commune d'Ingwiller</h3>
               <p> Je souhaite m'engager avec vous pour que les 6 prochaines années soient inscrites dans une démarche durable, démocratique et que toutes les décisions soient prises dans l'intérêt général.</p>

               <p>Ces dernières années des avancées ont été faites dans plusieurs domaines comme les services à la petite enfance ou aux seniors, la programmation culturelle... Ces avancées doivent être poursuivies et amplifiées.</p>

               <p>Mais depuis plus de cinq ans, j'ai aussi assité à ce que je ne souhaite plus pour ma commune : des dépenses excessives au service du paraître, des décisions partisanes, la critique régulière de l'intercommunalité, l'abandon de certains secteurs du service public communal et surtout l'absence de conscience face à l'urgence écologique.</p>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-4">
                <img src="img/services/arboriculture.jpg" class="img-responsive img-circle" alt="Arboriculture">
                <h4 class="service-heading">Arboriculture</h4>
                <p class="text-muted">
                    Sauvegarde du patrimoine fruitier <br>
                    Aide à la plantation d’arbres fruitiers<br>
                    Commandes groupées de fruitiers et ornementaux
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/distillation.jpg" class="img-responsive img-circle" alt="Distillation">
                <h4 class="service-heading">Distillation</h4>
                <p class="text-muted">
                    Organisation de stages de distillation artisanale<br>
                    Aide à la distillation<br>
                    Location d'un alambic aux membres
                    .</p>
            </div>
            <div class="col-md-4">
                <img src="img/services/apiculture.jpg" class="img-responsive img-circle" alt="Apiculture">
                <h4 class="service-heading">Apiculture</h4>
                <p class="text-muted">
                    Initiation à l’apiculture<br>
                    Installation d'un rucher dans le verger-école
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/services/formation.jpg" class="img-responsive img-circle" alt="Formations">
                <h4 class="service-heading">Actions de formation</h4>
                <p class="text-muted">
                        Stages de taille et de greffage<br>
                        Conférences sur la protection du patrimoine vert <br>
                        Conférences sur la culture saine du potager   
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/ecole.jpg" class="img-responsive img-circle" alt="Animations scolaires">
                <h4 class="service-heading">Animations scolaires</h4>
                <p class="text-muted">
                    Verger école et ornithologique<br>
                    Aide pédagogique sur l'arboriculture, la nature et l'environnement
                </p>
            </div>
            <div class="col-md-4">
                <img src="img/services/animations.jpg" class="img-responsive img-circle" alt="Partenaires">
                <h4 class="service-heading">Avec nos partenaires</h4>
                <p class="text-muted">
                        Organisation de manifestations pour les partenaires et le village de Lichtenberg<br>
                        Collaboration avec nos partenaires associatifs   
                </p>
            </div>
        </div>
    </div>
</section>
